{% extends "layout.html" %}
{% block body %}

<h1>hello {{ name }}</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eos fuga illum deserunt amet est impedit! Perspiciatis, saepe eos? Quos, impedit soluta vero ipsam error distinctio commodi magni eveniet tempora?
</p>



        <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
        </nav>
    
{% endblock %}